.sidebar {
    display: none;
    position: relative;
}

.sidebar.open {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 317px;
    height:100%;
    background: #FFF;
    box-shadow: 0 10px 40px 0 #1D212621;

}

.background {
    opacity: 0.3;
    background-color: #000;
    position: absolute;
    z-index: 5;
}

.nav {
    display: flex;
    flex-direction: column;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    gap: 45px;
    margin-left: 70px;
    margin-top: 63px;
}

.nav a {
    text-decoration: none;
    color: #000;
}

.nav a:hover {
    text-decoration: #0059B2;
    color: #0059B2;
}

.nav a.active {
    text-decoration-line: underline;
}
.close {

    position: absolute;
    background-color: transparent;
    top: 16px;
    right: 24px;
    border: none;

}

.close img {
    background: url('closeOutline.svg');
}
