.friendMessage {
    display: flex;
    flex-direction: column;
}

.friendImageAndText {
    display: flex;
    align-items: center;
    gap: 15px;
}

.friendImageAndText img {
    width: 48px;
    height: 48px;
}

.friendText {
    font-family: Montserrat, sans-serif;
    text-align: right;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    background-color: #F5F7FB;
    filter: drop-shadow(0px 1px 2px rgba(29, 33, 38, 0.10)) drop-shadow(0px 5px 20px rgba(29, 33, 38, 0.03));
}

.friendText:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 17px solid transparent;
    border-bottom: 19px solid #F5F7FB;


    display: block;
    position: absolute;
    bottom: 0;
    left: -10px;
}

.friendName {
    text-align: left;
    font-weight: bold;
}

.friendMessageText {
    font-family: Montserrat, sans-serif;

}

.friendTime {
    text-align: left;
    padding: 10px;
    font-weight: bold;
}
